Package: loki
Version: 0.3.0-r502-3
Architecture: amd64
Maintainer: Raizo62
Installed-Size: 1981
Depends: libc6 (>= 2.15), libdumbnet1 (>= 1.8), libpcap0.8 (>= 1.0.0), python-libpcap, python-gtk2, python-dpkt, python-dumbnet, python-ipy, python-glade2, python-urwid
Section: unknown
Priority: extra
Homepage: https://github.com/Raizo62/Loki_on_Kali
Description: This is loki. have phun!!!11
