Package: loki
Version: 0.3.0-r502-2
Architecture: amd64
Maintainer: c0decafe <bugs@c0decafe.de>
Installed-Size: 1981
Depends: libc6 (>= 2.15), libdumbnet1 (>= 1.8), libpcap0.8 (>= 1.0.0), python-libpcap, python-gtk2, python-dpkt, python-dumbnet, python-ipy, python-glade2, python-urwid
Section: unknown
Priority: extra
Homepage: http://c0decafe.de
Description: This is loki. have phun!!!11
