Package: loki
Version: 0.2.7-2
Architecture: amd64
Maintainer: c0decafe <bugs@c0decafe.de>
Installed-Size: 1423
Depends: libc6 (>= 2.3), libdumbnet1 (>= 1.8), libpcap0.8 (>= 1.0.0), libssl1.0.0 (>= 1.0.0), pylibpcap, python-gtk2, python-dpkt, python-dumbnet, python-ipy, python-glade2
Section: unknown
Priority: extra
Homepage: http://c0decafe.de
Description: This is loki. have phun!!!11
